<div container class="py-3 mx-3">
    <!--Heading-->
    <div class="row my-3">
        <h1 class="text-center mb-3">Gallery</h1>
    </div>
    <div class="row my-3 justify-content-center">
        <div *ngIf="errorMessage" class="col-md-9">
            <div class="alert alert-danger text-center">
                {{ errorMessage }}
            </div>
            <div class="text-center mt-2">
                <img src="images/reloadIcon.png" alt="Reload Icon" class="img-fluid"
                    style="width: 30px; cursor: pointer;" (click)="reloadWindow()" />
                <p class="text-muted small mt-1">Click to reload</p>
            </div>
        </div>
    </div>
    <div class="row my-3 g-3">
        <!--Gallery-->
        <div class="col-md-3" *ngFor="let image of images">
            <div class="ratio ratio-16x9">
                <img src="{{image.src}}" class="object-fit-cover rounded-2" alt="{{image.date}}" height="300px"
                    (click)="openModal(image)">
            </div>
        </div>
    </div>
    <div class="modal" id="imageModal" tabindex="-1" *ngIf="selectedImage" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">{{selectedImage.date}}</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="modal-body text-center">
                        <img [src]="selectedImage.src" class="img-fluid">
                    </div>
                </div>
                <div class="modal-footer d-flex justify-content-between">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-danger" (click)="deleteImage(selectedImage)" data-bs-dismiss="modal">Delete</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Toast -->
    <div class="position-fixed bottom-0 end-0 p-3"  style="z-index: 11">
        <div id="liveToast" class="toast hide" role="alert" aria-live="assertive" aria-atomic="true" >
          <div class="toast-header" [ngClass]="'bg-'+ toastType">
            <button type="button" class="btn-close ms-auto" data-bs-dismiss="toast" aria-label="Close"></button>
          </div>
          <div class="toast-body">
            {{toastMessage}}
          </div>
        </div>
      </div>
</div>