<div class="container py-3">
    <div class="row justify-content-center">
        <!-- Display error message -->
        <div *ngIf="errorMessage" class="col-md-9">
            <div class="alert alert-danger text-center">
                {{ errorMessage }}
            </div>
            <div class="text-center mt-2">
                <img src="images/reloadIcon.png" alt="Reload Icon" class="img-fluid"
                    style="width: 30px; cursor: pointer;" (click)="reloadWindow()" />
                <p class="text-muted small mt-1">Click to reload</p>
            </div>
        </div>

        <!-- Display APOD details -->
        <div *ngIf="apodDetails" class="col-md-6">
            <!-- Card for APOD details -->
            <div class="card shadow rounded-4">
                <div class="card-body">
                    <h2 class="card-title text-center mb-3">{{ apodDetails.title }}</h2>
                    <p class="text-center text-muted"><strong>Date:</strong> {{ apodDetails.date }}</p>
                    <div class="text-center mb-4">
                        <!-- Switch between image and video display -->
                        <div *ngIf="apodDetails.media_type === 'image'">
                            <ng-container *ngIf="apodDetails.hdurl; else noHdUrlTemplate">
                                <a [href]="apodDetails.hdurl" target="_blank" class="text-decoration-none">
                                    <img [src]="apodDetails.url" [alt]="apodDetails.title"
                                        class="img-fluid rounded" />
                                </a>
                            </ng-container>
                            <ng-template #noHdUrlTemplate>
                                <a [href]="apodDetails.url" target="_blank" class="text-decoration-none">
                                <img [src]="apodDetails.url" [alt]="apodDetails.title"
                                    class="img-fluid rounded" />
                                </a>
                            </ng-template>
                        </div>
                        <div *ngIf="apodDetails.media_type === 'video'" class="ratio ratio-16x9">
                            <iframe [src]="sanitizedVideoUrl" frameborder="0" allowfullscreen class="rounded">
                            </iframe>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="d-flex justify-content-between align-items-center">
                            <h2 class="card-text">Description</h2>
                            <div>
                                <div class="btn btn-success" (click)="saveImage()">Save</div>
                            </div>
                        </div>
                        <p class="card-text">{{ apodDetails.explanation }}</p>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>