<div class="container py-3">
    <div class="row justify-content-center my-3">
        <h1 class="col text-center">APOD - A Picture Of The Day</h1>
    </div>
    <!--Selection-->
    <div class="row align-items-center justify-content-center my-3">
        <!-- Display error message -->
        <div *ngIf="errorMessage" class="col-4">
            <div class="alert alert-danger text-center">
                {{errorMessage}}
            </div>
            <div (click)="(reloadWindow())">
                <img src="images/reloadIcon.png" alt="Error Image" class="img-fluid mx-auto d-block"
                    style="width: 25px; height: auto;">
            </div>
        </div>
        <!--Date selection-->
        <div *ngIf="!isChecked" class="col-12">
            <div class="w-100">
                <label class="form-label" for="endDate">Start Date</label>
                <input type="date" class="form-control" id="endDate" [(ngModel)]="startDate">
            </div>
        </div>
        <!--Start & End Date selection-->
        <div *ngIf="isChecked" class="col-12 d-flex flex-column gap-3 align-items-center">
            <div class="w-100">
                <label class="form-label" for="startDate">Start Date</label>
                <input type="date" class="form-control" id="startDate" [(ngModel)]="startDate">
            </div>
            <div class="w-100">
                <label class="form-label" for="endDate">End Date</label>
                <input type="date" class="form-control" id="endDate" [(ngModel)]="endDate">
            </div>
        </div>
        <!--Options and Submit-->
        <div class="col-12 d-flex justify-content-between align-items-center mt-3">
            <!--Switch-->
            <div class="form-check form-switch col-6">
                <input class="form-check-input" type="checkbox" role="switch" id="switchCheckDefault"
                    (change)="onSwitchChange($event)">
                <label class="form-check-label" for="switchCheckDefault">Multiple Images</label>
            </div>
            <!--Search button-->
            <div class="btn btn-primary" (click)="loadData()">Search</div>
        </div>
    </div>
    <!--Display images-->
    <div class="row row-cols-lg-3 justify-content-between g-3 pb-3">
        <div *ngFor="let picture of pictures" class="col">
            <!--Image card-->
            <div class="card shadow col h-100">
                <!--Switch between image and video display-->
                <ng-container *ngIf="picture.media_type === 'image'; else videoTemplate">
                    <div *ngIf="!picture.loaded && !picture.error">
                        <div class="spinner-border text-secondary" role="status">
                            <span class="visually-hidden">Loading...</span>
                        </div>
                    </div>
                    <img class="car-img-top rounded-2" [src]="picture.url" alt="{{ picture.title }}" (load)="onImageLoad(picture)" (error)="onImageError(picture)"
                    [hidden]="!picture.loaded || picture.error" >
                    <div *ngIf="picture.error" class="text-danger">
                        Failed to load image.
                    </div>
                </ng-container>
                <ng-template #videoTemplate>
                    <div class="card-img-top ratio ratio-4x3">
                        <iframe class="embed-item rounded-2 w-100" [src]="sanitizedURLs[picture.url]" frameborder="0"
                            allowfullscreen></iframe>
                    </div>
                </ng-template>
                <div class="card-body d-flex flex-column gap-2 justify-content-between">
                    <h2 class="card-text">{{picture.title}}</h2>
                    <div class="d-flex justify-content-between align-items-center">
                        <p class="card-text">{{picture.date}}</p>
                        <a [routerLink]="['/apod-details',picture.date]" class="btn btn-outline-secondary">Details</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>