<div class="container py-3">
    <div class="row my-3">
        <h1 class="text-center">EPIC Images</h1>
    </div>
    <!--Selection-->
    <div class="row my-3 align-items-center justify-content-center">
        <!-- Display error message -->
        <div *ngIf="errorMessage" class="col-4">
            <div class="alert alert-danger text-center">
                {{errorMessage}}
            </div>
            <div (click)="reloadWindow()">
                <img src="images/reloadIcon.png" alt="Error Image" class="img-fluid mx-auto d-block"
                    style="width: 25px; height: auto;">
            </div>
        </div>
        <!-- Date Selection -->
        <div class="w-100">
            <label class="form-label" for="date">Date</label>
            <input type="date" class="form-control" id="date" [(ngModel)]="date">
        </div>
        <!--Button-->
        <div class="col-12 d-flex justify-content-end my-2">
            <div class="btn btn-primary" (click)="loadData()">Search</div>
        </div>
    </div>
    <div class="row g-3 justify-content-between">
        <div class="col-md-6">
            <!-- Carousel -->
            <div id="carouselExampleCaptions" #carouselElement class="carousel slide">
                <div class="carousel-indicators">
                    <button *ngFor="let epic of EPICs; let i = index" type="button"
                        data-bs-target="#carouselExampleCaptions" [attr.data-bs-slide-to]="i" class="active"
                        aria-current="true" [attr.aria-label]="'Slide ' + i" [class.active]="i === 0"></button>
                </div>
                <div class="carousel-inner">
                    <div *ngFor="let epic of EPICs; let i = index;" class="carousel-item" [class.active]="i === 0"
                        [attr.data-index]="i">
                        <div>
                            <div *ngIf="!epic.loaded && !epic.error">
                                <div class="spinner-border text-secondary" role="status">
                                    <span class="visually-hidden">Loading...</span>
                                </div>
                            </div>
                            <img src="{{epic.imageUrl}}" class="d-block w-100 rounded-2" alt="{{epic.image}}"
                                (load)="onImageLoad(epic)" (error)="onImageError(epic)" (click)="openModal(epic)"
                                [hidden]="!epic.loaded || epic.error">
                            <div *ngIf="epic.error" class="text-danger">
                                Failed to load image.
                            </div>
                        </div>
                        <div class="carousel-caption d-none d-md-block" style="background-color: rgba(0, 0, 0, 0.5);">
                            <h5>{{epic.identifier}}</h5>
                            <p>{{epic.date}}</p>
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"
                        data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"
                        data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
        </div>
        <!-- EPIC Details -->
        <div class="col-md-6">
            <app-epic-details [epic]="currentEPIC"></app-epic-details>
        </div>
    </div>
    <!-- Modal -->
    <div class="modal" id="imageModal" tabindex="-1" *ngIf="selectedEPIC" aria-hidden="true">
        <div class="modal-dialog modal-md">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">{{selectedEPIC.date}}</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="modal-body text-center">
                        <img [src]="selectedEPIC.imageUrl" class="img-fluid">
                    </div>
                </div>
                <div class="modal-footer d-flex justify-content-between">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-success" (click)="saveImage()"
                        data-bs-dismiss="modal">Save</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Toast -->
    <div class="position-fixed bottom-0 end-0 p-3" style="z-index: 11">
        <div id="liveToast" class="toast hide" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="toast-header" [ngClass]="'bg-'+ toastType">
                <button type="button" class="btn-close ms-auto" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
            <div class="toast-body">
                {{toastMessage}}
            </div>
        </div>
    </div>
</div>