<div class="container py-3">
    <div class="row">
        <h1 class="text-center">Rover</h1>
    </div>
    <div class="row align-items-center justify-content-center mb-5">
        <!-- Display error message -->
        <div *ngIf="errorMessage" class="col-md-4">
            <div class="alert alert-danger text-center">
                {{errorMessage}}
            </div>
            <div (click)="(reloadWindow())">
                <img src="images/reloadIcon.png" alt="Error Image" class="img-fluid mx-auto d-block"
                    style="width: 25px; height: auto;">
            </div>
        </div>
        <div *ngIf="isChecked" class="col-12">
            <div class="w-100">
                <label class="form-label" for="endDate">Search By Sol</label>
                <input type="number" class="form-control" id="endDate" [(ngModel)]="sol">
            </div>
            <!-- <img *ngIf="picture" [src]="picture.hdurl" [style.width]="imageWidth"> -->
        </div>
        <div *ngIf="!isChecked" class="col-12 d-flex flex-column gap-3 align-items-center">
            <div class="w-100">
                <label class="form-label" for="startDate">Date</label>
                <input type="date" class="form-control" id="startDate" [(ngModel)]="date">
            </div>
        </div>
        <div class="col-12 d-flex justify-content-start align-items-center mt-3 gap-3">
            <div class="form-check form-switch col-md-2">
                <input class="form-check-input" type="checkbox" role="switch" id="switchCheckDefault"
                    (change)="onSwitchChange($event)">
                <label class="form-check-label" for="switchCheckDefault">Search By Sol</label>
            </div>
            <div class="col-md-2 col-auto me-auto">
                <select [(ngModel)]="roverName" class="form-select" aria-label="Default select example">
                    <option value="curiosity">Curiosity</option>
                    <option value="opportunity">Opportunity</option>
                    <option value="spirit">Spirit</option>
                </select>
            </div>
            <div class="col-md-1 offset-md-6 d-flex justify-content-end">
                <div class="btn btn-primary" (click)="loadData()">Search</div>
            </div>
        </div>
    </div>
    <div class="row justify-content-center my-3 g-3" *ngIf="currentManifest">
        <div class="col-md-6">
            <app-rover-details [photoManifest]="currentManifest"></app-rover-details>
        </div>
        <div class="col-md-6">
            <h2 class="text-center py-3">Images</h2>
            <ng-container
                *ngIf="currentManifest.name === 'Spirit' || currentManifest.name === 'Opportunity'; else imageShowcase">
                <h2>Images are no longer available</h2>
                <p>Unfortunately, this rover's images archive was made private.
                    However if you want to learn intresting information, go to this website <a
                        href="https://science.nasa.gov/mission/mars-exploration-rovers-spirit-and-opportunity/">Mars
                        Exploration Rovers</a></p>
            </ng-container>
            <ng-template #imageShowcase>
                <div *ngIf="picturesErrorMessage">
                    <div class="alert alert-danger text-center">
                        {{picturesErrorMessage}}
                    </div>
                    <div (click)="(reloadWindow())">
                        <img src="images/reloadIcon.png" alt="Error Image" class="img-fluid mx-auto d-block"
                            style="width: 25px; height: auto;">
                    </div>
                </div>
                <div class="accordion" id="accordionPhotos">
                    <div class="accordion-item" *ngFor="let camera of groupedPhotos | keyvalue; let i = index">
                        <h2 class="accordion-header">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                [attr.data-bs-target]="'#collapse'+i" aria-expanded="false"
                                [attr.aria-controls]="'collapse'+i">
                                {{ camera.key }}
                            </button>
                        </h2>
                        <div id="{{'collapse'+i}}" class="accordion-collapse collapse show"
                            data-bs-parent="#accordionPhotos">
                            <div class="accordion-body">
                                <div class="row g-2" style="max-height: 400px; overflow:auto">
                                    <div class="col-md-4" *ngFor="let photo of camera.value">
                                        <div *ngIf="!photo.loaded && !photo.error">
                                            <div class="spinner-border text-secondary" role="status">
                                                <span class="visually-hidden">Loading...</span>
                                            </div>
                                        </div>
                                        <img [src]="photo.img_src" alt="Mars photo" width="100%"
                                            (load)="onImageLoad(photo)" (error)="onImageError(photo)"
                                            [hidden]="!photo.loaded || photo.error" />
                                        <div *ngIf="photo.error" class="text-danger">
                                            Failed to load image.
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-template>
        </div>
    </div>